#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 1rem;
}

nav {
    width: 99vw;
    height: 6vh;
    border: 2px solid black;
    display: flex;
    gap: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    font-size: 1.4rem;
}

.card {
    background-color: rgb(29, 78, 216);
    border-radius: 4px;
    padding: 1rem;
    margin: 1rem;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}